@model DATechShop.Models.ChitietSP
@{
    ViewBag.Title = "giohang";
}

<head>
    <script src="~/Script/Cart.js"></script>
</head>


<div class="bg-light">



    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
               
                <div class="modal-header border-0">
                  
                    <h5 class="modal-title h3 font-weight-bold" id="confirmModalLabel">Xác nhận</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <i class="fas fa-exclamation-triangle fa-2x mx-2"></i> Bạn có chắc muốn xóa sản phẩm chứ?

                </div>
                <div class="modal-footer border-0">
                   
                    <button type="button" class="btn font-weight-bold" data-bs-dismiss="modal">Hủy</button>
                    <button id="confirmBtn" type="button" class="btn btn-dark font-weight-bold">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>




    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Giỏ hàng của bạn</h4>
                        <div class="breadcrumb__links">
                            <a href="~/trangchu">Trang chủ</a>
                            <span>Giỏ hàng của bạn</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shopping-cart mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table id="tableSanPham">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Sản Phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành Tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Đi đến trang chủ</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                            <div class="cart__discount">
                                <h6>Mã giảm giá</h6>
                                <form class="d-flex mx-3 mt-3">
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="maGiamGiaInput" placeholder="Mã giảm giá"  onkeyup="giamGiaOnKeyPress()">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" id="applyButton">Áp Dụng</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table text-bg-light">
                                                <tr>
                                                    <td>Mã Giảm giá</td>
                                                    <td>Phần trăm giảm</td>
                                                </tr>
                                                <tbody id="giamgia-result-body">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    <div class="cart__total">
                        <h6>Tổng hóa đơn</h6>
                        <table class="container-fluid mt-3">
                            <tbody>
                                <tr class="mb-3">
                                    <td class="text-start">Tổng phụ:</td>
                                    <td class="text-end tongThanhTienan" id="tongThanhTienan">0đ</td>
                                </tr>
                                <tr class="mb-3">
                                    <td class="text-start">Phần trăm Giảm:</td>
                                    <td class="text-end" id="phanTramGiam">0%</td>
                                </tr>
                                <tr>
                                    <td class="text-start">Tiền Giảm:</td>
                                    <td class="text-end" id="tienGiam">0đ</td>
                                </tr>
                                <tr>
                                    <td class="text-start h4 text-dark font-weight-bold">Tổng cộng:</td>
                                    <td class="text-end h4 text-primary font-weight-bold" id="tongCong">0đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <hr class="border-top border-2 border-dark">
                        <div class="mx-3">
                            <input class="form-check-input checkbox " type="checkbox">
                            <p class="text-primary">Tôi đã đọc và đồng ý điều khoản và điều kiện của hệ thống</p>
                        </div>

                        <a href="@Url.Action("datHang", "MuaHang")?phanTramGiam= 0" class="primary-btn" id="datHang">Tiến hành đặt hàng</a>
                        <p class="text-danger mt-2">(*)Phí phụ thu sẽ được tính khi bạn tiến hành thanh toán.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
  



<script>


    $(document).ready(function () {
        var arrSanPham = CartClass.Get();
        arrSanPham.forEach(function (item) {
            var productId = item.chiTietSPId;
            var soLuong = item.soLuong;
            $.ajax({
                url: '/MuaHang/row?id=' + productId + '&soLuong=' + soLuong,
                type: 'GET',
                success: function (data) {
                    $("#tableSanPham tbody").append(data);
                },
                error: function (xhr, status, error) {
                    console.log('Đã xảy ra lỗi khi lấy thông tin sản phẩm:', error);
                }
            });
        });
    });

    $(document).ready(function () {
        var arrSanPham = CartClass.Get();
        var tongTien = 0;

        arrSanPham.forEach(function (item) {
            tongTien += item.soLuong * item.giaSP;
        });

        var totalAmountFloat = parseFloat(tongTien);
        var totalAmounts = totalAmountFloat.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        $('#tongCong').text(totalAmounts + 'đ');
        $('#tongThanhTienan').text(totalAmounts + 'đ');

    });





    $("button#applyButton").click(function () {

    var maGiamGia = $("input#maGiamGiaInput").val();
    var phanTramGiamValue = parseFloat($("#phanTramGiam").text().trim().replace('%', '')) || 0;
        var arrSanPham = CartClass.Get();
        var tongTien = 0;

        arrSanPham.forEach(function (item) {
            tongTien += item.soLuong * item.giaSP;
        });
    $.ajax({
        url: '/MuaHang/KiemTraMaGiamGia',
        type: 'POST',
        data: { maGiamGia: maGiamGia },
        success: function (response) {
            if (response.phanTramGiam !== "Không có") {
                console.log(tongTien);

                $("td#phanTramGiam").text(response.phanTramGiam);

                var tongPhu = tongTien ;
                var phanTramGiam = parseFloat(response.phanTramGiam.replace('%', ''));

                var tienGiam = tongPhu * phanTramGiam / 100;
                var tienGiams = tienGiam.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $("td#tienGiam").text(tienGiams + 'đ');


                var tongCong = tongPhu - tienGiam;
                var tongCongs = tongCong.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                $("td#tongCong").text(tongCongs + 'đ');
                phanTramGiamValue = parseFloat(response.phanTramGiam.replace('%', ''));
            }

            if (!maGiamGia) {
                 var datHangUrl = "@Url.Action("datHang", "MuaHang")" + "?phanTramGiam=" + 0
            }

            var datHangUrl = "@Url.Action("datHang", "MuaHang")" + "?phanTramGiam=" + encodeURIComponent(phanTramGiamValue);

            $("a#datHang").attr("href", datHangUrl);
        },
        error: function (xhr, status, error) {
            console.error('Đã xảy ra lỗi:', error);
        }
    });
    });


    function searchOnKeyPress() {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(searchProducts, doneTypingInterval);
}

function searchProducts() {
    var key = $("#maGiamGiaInput").val().trim();
    var searchModel = document.querySelector('.search-model');
    if (key === '') {
        searchModel.style.display = 'none';
        return;
    }

    $.ajax({
        url: '/MuaHang/KiemTraMaGiamGia',
        method: 'GET',
        data: { key: key },
        success: function (response) {
            var tableContent = '';
            if (response.length > 0) {
                response.forEach(function (item) {
                    var rowHtml = '<tr>';
                    rowHtml += '<td class="white-bg align-middle"><strong>' + item.tenMa + '</strong></td>';
                    rowHtml += '<td class="white-bg align-middle"><strong>' + item.tenSP + '</strong></td>';
                    rowHtml += '</tr>';
                    tableContent += rowHtml;
                });
            } else {
                tableContent = '<tr><td colspan="5">Không tìm thấy sản phẩm</td></tr>';
            }
            $('#search-result-body').html(tableContent); 
            searchModel.style.display = 'block';
        },
        error: function (xhr, status, error) {
            console.log('Lỗi khi tìm kiếm sản phẩm: ' + error);
        }
    });
}



</script>
