@model DATechShop.Models.ChitietSP
@{
    ViewBag.Title = "giohang";
}

<head>
    <script src="~/Script/Cart.js"></script>
</head>

<div class="container">
    <div class="row g-0">
        <p class="h2 text-center mt-5">Giỏ hàng của bạn</p>
        <div class="col-sm-6 col-md-8">
            <div class="">
                <div class="container-fluid">
                    <table class="table table-hover rounded" id="tableSanPham">
                        <thead>
                            <tr>
                                <th scope="col">Chọn</th>
                                <th scope="col" class="col-lg-2">Tên Sản Phẩm</th>
                                <th scope="col">Tùy Chọn</th>
                                <th scope="col">Hình Ảnh</th>
                                <th scope="col">Đơn Giá</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Thành Tiền</th>
                                <th scope="col"> Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <p class="h4">Gợi ý sản phẩm đi kèm </p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class=" border bg-light rounded">
               <form class="d-flex mx-3 mt-3">
                    <div class="input-group">
                        <input class="form-control" type="text" id="maGiamGiaInput" placeholder="Mã giảm giá">
                         <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="applyButton">Áp Dụng</button>
                          </div>
                        
                    </div>
                </form>


                <div class="container">
                    <table class="container-fluid mt-3">
                        <tbody>
                            <tr class="mb-3">
                                <td class="text-start">Tổng phụ:</td>
                                <td class="text-end" id="tongThanhTien">0đ</td>
                            </tr >
                            <tr class="mb-3">
                                <td class="text-start">Phần trăm Giảm:</td>
                                <td class="text-end" id="phanTramGiam" >0%</td>
                            </tr>
                            <tr >
                                <td class="text-start" >Tiền Giảm:</td>
                                <td class="text-end" id="tienGiam">0đ</td>
                            </tr>
                            <tr>
                                <td class="text-start h4 text-dark font-weight-bold">Tổng cộng:</td>
                                <td class="text-end h4 text-primary font-weight-bold"id="tongCong">0đ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <hr class="border-top border-2 border-dark">
                    <div class="mx-3">
                        <input class="form-check-input checkbox " type="checkbox">
                        <p class="text-primary">Tôi đã đọc và đồng ý điều khoản và điều kiện của hệ thống</p>
                    </div>
                    <a class=" mx-auto btn btn-success btn-lg  mx-auto"  href="@Url.Action("datHang", "MuaHang")">Tiến hành đặt hàng</a>
                    <p class="text-danger mt-2">(*)Phí phụ thu sẽ được tính khi bạn tiến hành thanh toán.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    

    $(document).ready(function () {
        // Lấy dữ liệu sản phẩm từ local storage và hiển thị trên giao diện
        var arrSanPham = CartClass.Get();
        for (var i = 0; i < arrSanPham.length; i++) {
            var productId = arrSanPham[i].chiTietSPId;
            $.ajax({
                url: '/MuaHang/row?id=' + productId,
                type: 'GET',
                success: function (data) {
                    $("#tableSanPham tbody").append(data);
                    tinhTongThanhTien(); // Gọi hàm tính tổng thành tiền sau khi thêm sản phẩm vào bảng
                },
                error: function (xhr, status, error) {
                    console.log('Đã xảy ra lỗi khi lấy thông tin sản phẩm:', error);
                }
            });
        }
    });
    function updateTotalAmount() {
        var totalAmount = localStorage.getItem('tongThanhTien');
        if (totalAmount) {
            $('#tongThanhTien').text(totalAmount + 'đ');
        }
    }

    
    $(document).ready(function () {
        updateTotalAmount(); 

     
        $(window).on('storage', function (event) {
            if (event.originalEvent.key === 'tongThanhTien') {
                updateTotalAmount();
            }
        });
    });


    // Bắt sự kiện click vào nút "Áp Dụng"
    $("button#applyButton").click(function () {
        // Lấy giá trị mã giảm giá từ ô input
        var maGiamGia = $("input#maGiamGiaInput").val();

        // Gửi yêu cầu Ajax đến action method KiemTraMaGiamGia trong controller
        $.ajax({
            url: '/MuaHang/KiemTraMaGiamGia',
            type: 'POST',
            data: { maGiamGia: maGiamGia },
            success: function (response) {
                // Kiểm tra xem phần trăm giảm giá có phải là "Không có" không
                if (response.phanTramGiam === "Không có") {
                    $("td#phanTramGiam").text(response.phanTramGiam);
                    $("td#tienGiam").text("0đ");
                    $("td#tongCong").text($("#tongThanhTien").text());
                } else {
                    // Hiển thị phần trăm giảm giá được trả về từ controller vào ô "phanTramGiam"
                    $("td#phanTramGiam").text(response.phanTramGiam);

                    // Tính tiền giảm dựa trên tổng phụ và phần trăm giảm
                    var tongPhu = parseFloat($("#tongThanhTien").text().replace('đ', '').replace(',', ''));
                    var phanTramGiam = parseFloat(response.phanTramGiam.replace('%', ''));
                    var tienGiam = tongPhu * phanTramGiam / 100;

                    // Hiển thị tiền giảm vào ô "tienGiam"
                    $("td#tienGiam").text(tienGiam.toFixed(0).replace(/\d(?=(\d{3})+\.)/g, '$&,') + 'đ');

                    // Tính tổng cộng
                    var tongCong = tongPhu - tienGiam;
                    $("td#tongCong").text(tongCong.toFixed(0).replace(/\d(?=(\d{3})+\.)/g, '$&,') + 'đ');
                }
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi nếu có
                console.error('Đã xảy ra lỗi:', error);
            }
        });
    });



</script>
