
@{
    ViewBag.Title = "Home";
}



<!-- Carousel -->
<div class="container mt-5" style="">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img style="height:600px;width:100% " src="https://images.pexels.com/photos/890849/pexels-photo-890849.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Los Angeles" class="d-block w-100 rounded">
                <div class="carousel-caption">
                    <a> Sản phẩm chính hãng</a>
                    <br />
                    <a id="btnDangNhap" href="~/trangchu/timkiem" class="btn btn-secondary">Đặt Ngay</a>

                </div>
            </div>
            <div class="carousel-item">
                <img style="height: 600px; width: 100% " src="https://images.pexels.com/photos/3861458/pexels-photo-3861458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chicago" class="d-block w-100 rounded">
                <div class="carousel-caption">
                    <a> Công nghệ là tương lai</a>
                    <br />
                    <a id="btnDangNhap" href="~/trangchu/timkiem" class="btn btn-secondary">Đặt Ngay</a>

                </div>
            </div>
            <div class="carousel-item">
                <img style="height: 600px; width: 100% " src="https://images.pexels.com/photos/1038916/pexels-photo-1038916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="New York" class="d-block w-100 rounded">
                <div class="carousel-caption">
                    <a>Sản phẩm của thời đại</a>
                    <br />
                    <a id="btnDangNhap" href="~/trangchu/timkiem" class="btn btn-secondary">Đặt Ngay</a>

                </div>
            </div>

        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>


</div>

<div class="container-fluid ">
    <div class="container mt-5" style="left:50px">
        <div class="row">
            <div class="col">
                <img style="height:300px" src="https://images.pexels.com/photos/5081399/pexels-photo-5081399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="New York" class="d-block w-10 rounded">

            </div>
            <div class="col">
                <img style="height:300px " src="https://images.pexels.com/photos/8000651/pexels-photo-8000651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="New York" class="d-block w-10 rounded">
            </div>
            <div class="col">
                <img style="height:300px " src="https://images.pexels.com/photos/5081386/pexels-photo-5081386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="New York" class="d-block w-10 rounded">
            </div>
            <div class="col">
                <img style="height:300px " src="https://images.pexels.com/photos/5054352/pexels-photo-5054352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="New York" class="d-block w-10 rounded">
            </div>
        </div>

    </div>
</div>

<div class="container bg-danger">
    <div class="row bg-light">
        @{ 
            var chitietSPs = new DATechShop.Models.mapSP().danhSachCTSPLoai("apple");

        }
        @if (chitietSPs != null && chitietSPs.Any())
        {
            foreach (var item in chitietSPs)
            {
                <div class="col-3 bg-danger">
                    <a href="#" class="card">
                        <img src="@Url.Content("~/Upload/imgSP/" + item.anhSP)" class="card-img-top mt-2">
                        <div class="card-body">
                            <label class="label fs-3 text-center">@item.SanPham.tenSP</label>
                            <p class="label fs-5 text-primary">@item.giaSP</p>
                            <p class="text-decoration-line-through">20,000đ</p>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>Danh sách sản phẩm trống</p>
        }
    </div>
</div>
